body {
    background: #ceddda;
    font-family: arial, sans-serif;
}

.reader {
    border: 1px solid #9999ff;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.reader_content {
    width: 95%;
    padding: 20px;
    border: 2px solid #8484a6;
    display: block;
    float: left;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #ebf0ef;
}

.title {
    padding: 5px;
    font-weight: bold;
    float: left;
    display: block;
    font-size: 12pt;
    color: #2f2f65;
    width: 100%;
    cursor: pointer;
}

.content {
    padding: 5px;
    float: left;
    display: block;
    font-size: 12pt;
    width: 100%;
}

.reader_item {
    width: 95%;
    padding: 20px;
    border: 2px solid #8484a6;
    display: block;
    float: left;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #ebf0ef;
}

.ajax_loader {
    width: 32px;
    height: 32px;
    background: url("../images/ajax-loader.gif");
    display: none;
    position:relative;
    top:0;
    right:10px;
    left:2px;
}